<div class="table-responsive table-borderless">
  <table id="userList" class="table table-bordered table-hover table-striped border-0">
    <thead class="thead border-0" style="background-color: #A6A0E3;">
      <tr>
        <th scope="col">ID de aula</th>
        <th scope="col">Número</th>
        <th scope="col">Edificio</th>
        <th scope="col">Vista</th>
        <th scope="col">Tipo de aula</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="aula : ${aulas}">
        <td th:text="${aula.id}"></td>
        <td th:text="${aula.numero}"></td>
        <td th:text="${aula.edificio.nombre}"></td>
        <td>
          <span>
          <a th:href="@{/aula/{id}(id=${aula.id})}" style="color:#FFFFFF" ;>Modificar</a>
          </span>
        </td>
        <td th:if="${aula instanceof T(com.unla.OO2.entity.Laboratorio)}">
          <span>Laboratorio</span>
        </td>
        <td th:if="${aula instanceof T(com.unla.OO2.entity.Tradicional)}">
          <span>Tradicional</span>
        </td>
      </tr>
      <button class="btn btn-lg btn-primary btn-block"  ><a href="/aula/newLaboratorio" style="text-decoration: none; color: inherit;">Crear laboratorio</a></button>
      <button class="btn btn-lg btn-primary btn-block"  ><a href="/aula/newTradicional" style="text-decoration: none; color: inherit;">Crear tradicional</a></button>
    </tbody>
  </table>
</div>