<!DOCTYPE html>
<html xmlns:th="htpp://www.thymeleaf.org">

<form action="#" th:action="@{/aula/update}" th:object="${aula}" method="post">
	<input type="hidden" th:field="*{id}" />
		<p>numero: <input type="text" th:field="*{numero}" /></p>
		
		<select th:field="*{edificio}"> 
		<option th:each="e:${edificios}"
			th:value="${(e.id)}"
			th:text="${e.nombre}"
	 	/>
		</select>
		
	<input type="submit" value="Edit" />
</form>

<form action="#" th:action="@{/aula/delete/{id}(id=${aula.id})}" method="post">
	<input type="submit" value="delete aula" />
</form>