<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	</head>
	
	<body>
		<!--<form action="#" th:action="@{/pedidoFinal/createPedidoFinal}" th:object="${pedidoFinal}" method="post" >-->
        <h2 class="form-signin-heading">Nota pedido</h2>
        <div class="card-body">
   
          <div>Fecha de pedido</div>
          <span th:text="${notaPedido.getFechaCreacion()}" />
          <div>Turno</div>
          <span th:text="${notaPedido.turno}" />
          <div>Aula</div>
          <span th:text="${notaPedido.aula}" />
          <div>Cantidad de estudiantes</div>
          <span th:text="${notaPedido.cantEstudiantes}" />
          <div>Catedras</div>
          <span th:text="${notaPedido.catedra}" />
          <div>Observaciones</div>
          <span th:text="*{notaPedido.observaciones}" />
          
          <div th:if="${notaPedido instanceof T(com.unla.OO2.entity.Final)}">
          <div>Fecha de examen</div>
          <span th:text="${notaPedido.fechaExamen}" />
          </div>
          
          <div th:if="${notaPedido instanceof T(com.unla.OO2.entity.Curso)}">
          <div>Codigo de curso</div>
          <span th:text="${notaPedido.codCurso}"/>
          <div>Fecha de inicio (El dia que comienza las clases el curso, no el inicio del cautrimestre)</div>
          <span th:text="${notaPedido.fechaInicio}"/>
          <div>Fecha de fin de cuatrimestre</div>
          <span th:text="${notaPedido.fechaFin}"/>
          <div>Porcentaje de presencialidad</div>
          <span th:text="${notaPedido.porcPresencialidad}">
          </div>
          
          <form action="#" th:action="@{/pedidoFinal/createPedidoFinal/{id}(id=${notaPedido.id})}" th:object="${pedidoFinal}" method="get" >
    		<div>Espacios</div>
            <select th:field="*{espacio}">
            	<div th:if="${espaciosT!=null}">
              <option th:each="e:${espaciosT}" th:value="${(e.id)}" th:text="'Aula: ' + ${e.aula.numero} + ' Edificio: ' + ${e.aula.getEdificio().nombre} + ' TIPO DE AULA TRADICIONAL'"/>
            	</div>
            	<div th:if="${espaciosL!=null}">
              <option th:each="e:${espaciosL}" th:value="${(e.id)}" th:text="'Aula: ' + ${e.aula.numero} + ' Edificio: ' + ${e.aula.getEdificio().nombre} + ' TIPO DE AULA LABORATORIO'"/>
            	</div>
            </select>
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Asignar espacio</button>
    	</form>
          
	</body>

</html>
