body {
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

@import "bourbon";

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  display: inline;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.main-section {
  margin: 0 auto;
  margin-top: 5%;
}
.card {
  opacity: 0.95;
}
.card-body {
  background-color: #c5c3f3;
  box-shadow: 0px 0px 3px #7e72cf;
}

label {
  font-weight: bold;
}

.nav-item {
  color: #f9f9fd;
}

.nav-tabs .nav-item a:not(.active) {
  color: #f9f9fd;
  background-color: #a6a0e3;
}

.nav-tabs {
  border-bottom: 0px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

select {
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}