body{
	background: linear-gradient(90deg, #C7C5F4, #776BCC);	
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #C5C3F3;
    box-shadow: 0px 0px 3px #7E72CF;
}

label{
	font-weight: bold;
}

.nav-item{
	color:#F9F9FD;
}

.nav-tabs .nav-item a:not(.active){
	color: #F9F9FD;
	background-color: #A6A0E3;
}

.nav-tabs{
	border-bottom:0px;
}
