<div th:with="disableFields=!${editMode} and ${#authorization.expression('hasRole(''ROLE_USER'')')}" class="d-flex align-items-center justify-content-center">
        <div class="card-body  col-md-4 col-md-offset-4 row justify-content-center align-items-center">
    <form class="form" role="form" autocomplete="off"  th:object="${userForm}" th:action="${editMode} ?@{/editUser} :@{/userForm}" method="post">
      <input class="form-control" type=hidden th:field="${userForm.id}"  th:if="${editMode}">
      <input class="form-control" type=hidden name="password" value="xxxx" th:if="${editMode}">

      <div class="form-group row">
        <div style="width:100%;">
          <label>Username</label>
          <input class="form-control" type="text" th:field="${userForm.username}" th:disabled="${disableFields}">
          <div class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
        </div>
      </div>
      <div class="form-group row">
        <div style="width:100%;">
          <label>Nombre</label>
          <input class="form-control" type="text" th:field="${userForm.nombre}" th:disabled="${disableFields}">
          <div class="alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre Error</div>
        </div>
      </div>
      <div class="form-group row">
        <div style="width:100%;">
          <label>Apellido</label>
          <input class="form-control" type="text" th:field="${userForm.apellido}" th:disabled="${disableFields}">
          <div class="alert-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Apellido Error</div>
        </div>
      </div>
      <div class="form-group row">
        <div style="width:100%;">
          <label>Email</label>
          <input class="form-control" type="text" th:field="${userForm.email}" th:disabled="${disableFields}">
          <div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
        </div>
      </div>
      <div class="form-group row">
        <div style="width:100%;">
          <label>Tipo</label>
          <input class="form-control" type="text" th:field="${userForm.tipo}" th:disabled="${disableFields}">
          <div class="alert-danger" th:if="${#fields.hasErrors('tipo')}" th:errors="*{email}">Tipo Error</div>
        </div>
      </div>
      <div class="form-group row">
        <div style="width:100%;">
          <label>Dni</label>
          <input class="form-control" type="number" th:field="${userForm.dni}" th:disabled="${disableFields}">
          <div class="alert-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">Dni Error</div>
        </div>
      </div>
      <div class="form-group row">
        <label style="width:100%;">Roles</label>
        <select class="form-control" th:field="${userForm.roles}" th:disabled="${disableFields}" multiple>
          <option th:each="role :${roles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>
        <div class="alert-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Name Error</div>
      </div>
      <div class="form-group row">
        <label>Carrera</label>
        <select class="form-control" th:field="${userForm.carrera}" th:disabled="${disableFields}">
          <option th:each="c:${carreras}" th:value="${(c.id)}" th:text="${c.nombreCarrera}"></option>
        </select>
      </div>
       <div class="form-group row">
        <label>Departamento</label>
        <select class="form-control" th:field="${userForm.departamento}" th:disabled="${disableFields}">
          <option th:each="d:${departamentos}" th:value="${(d.id)}" th:text="${d.departamento}"></option>
        </select>
      </div>
 
      <div class="form-group row" th:if="${editMode==null or editMode==false}">
        <div style="width:100%;">
          <label>Password</label>
          <input class="form-control" type="password" th:field="${userForm.password}" th:disabled="${disableFields}">
          <div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
        </div>
      </div>
      <div class="d-flex align-items-center justify-content-center" >
        <div class="text-center">
          <a class="btn btn-secondary"  th:href="@{'/userForm/cancel'}">Cancelar</a>
          <a class="btn btn-primary" th:href="@{'/userForm/pdfAdmin'}" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">Generar PDF Admin</a>
          <a class="btn btn-primary"  th:href="@{'/userForm/pdfAuditores'}" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">Generar PDF Auditores</a>
          <input type="submit" class="btn btn-primary" value="Save Changes" th:value="${editMode}?'Guardar Usuario':'Crear Usuario'">
        </div>
      </div>
      <div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error</div>
      <div class="alert alert-success text-center d-none" id="formSuccess" th:if="${editMode}" >Éxito</div>
    </form>
  </div>
</div>